.checkbox-wrong > p{
    color: red;
    text-decoration:double;
}
.password-matching-text{
    display: none;
}
.password-not-matching-text
{
    display: block;
    color: red;
}
.password-not-matching-input{
    color: red;
}
.form{
    position: absolute;
    justify-self: center;
    left: 0;
    right: 0;
    transition: 3000ms;
}
.exit {
    background-color: #ff0000; 
    color: #ffffff; 
    border: none;
    padding: 4px 8px;
    margin-left: 340px;
    margin-bottom: 250px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .center-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50%;
}