.header-top{
    background-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
}
.header-top > h1{
    color: antiquewhite;
    margin-left: 2%;
    user-select: none;
}
.header-link{
    text-decoration: none;
    color:aliceblue;
    margin-right: 10px;
    margin-left: auto;
    text-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Montserrat';
    font-size: 18px;
}
.header-link > div{
    width: fit-content;
    padding: 0.5%;
}
.header-link-container{
    display: flex;
    margin-right: 0px;
    margin-left: auto;
}