.center-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50%;
}
  
.exit {
    background-color: #ff0000; 
    color: #ffffff; 
    border: none;
    padding: 4px 8px;
    margin-left: 340px;
    margin-bottom: 250px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .exit:hover {
    background-color: #cc0000; /* Измененный цвет фона при наведении */
  }
.login-valid{
    display: none;
}
.login-not-valid
{
    display: block;
    color: red;
}