.page-reg{
    height: 100%;
    background-color: white;
}
.form-container{
    height: 70%;
    overflow: auto;
}
.completed{
    height: 100%;
    width: 100%;
    background-color: #7653EB;
}

.completed > h1{
    color:white;
    padding: 48vh;
}